<p id="notice"><%= notice %></p>

<h1>Mennen Co. Career Site</h1>
<% @jobs.each do |job| %>
  <div class="entry">
    <h3><%= job.title %></h3>
    <%= sanitize(job.description) %>
    <div class="salary_line">
      <span class="salary"><%= job.salary %></span>
    </div>
  </div>
<% end %>
